body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

.game{
display:grid;
grid-template-columns:repeat(4,100px);
gap:10px;
justify-content:center;
margin-top:40px;
}

.card{
width:100px;
height:100px;
background:#3498db;
color:white;
font-size:40px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
border-radius:10px;
}

.card.open{
background:white;
color:black;
}